In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to Change These)
path = os.path.join("Resources", "purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(path)

## Player Count

In [19]:
player_count_s = pd.Series(df['SN'].unique())
player_count_df = pd.DataFrame({"Total Players":player_count_s.count()},index=[0])
player_count_df

   Total Players
0            576

In [3]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Purchasing Analysis (Total)

In [12]:
unique_items = pd.Series(df['Item ID'].nunique())
avg_price = pd.Series(df['Price'].mean())
total_purchases = pd.Series(len(df))
total_revenue = pd.Series(df["Price"].sum())

purchasing_analysis = pd.DataFrame(
    {"Number of Unique Items":unique_items,
     "Average Price":avg_price,
     "Number of Purchases":total_purchases,
     "Total Revenue":total_revenue
    },index=[0])
purchasing_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

In [24]:
df.groupby(by="SN")

In [7]:
print("Count of Players")
df['Gender'].value_counts()

Count of Players

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [8]:
print("Percentage of Players")
df['Gender'].value_counts()/df['SN'].nunique()

Percentage of Players

Male                     1.131944
Female                   0.196181
Other / Non-Disclosed    0.026042
Name: Gender, dtype: float64

## Purchasing Analysis (Gender)