In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to Change These)
path = os.path.join("Resources", "purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(path)

## Player Count

* Display the total number of players

In [2]:
player_count_s = pd.Series(df['SN'].unique())
player_count_df = pd.DataFrame({"Total Players":player_count_s.count()},index=[0])
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
unique_items = pd.Series(df['Item ID'].nunique())
avg_price = pd.Series(df['Price'].mean())
total_purchases = pd.Series(len(df))
total_revenue = pd.Series(df["Price"].sum())

purchasing_analysis = pd.DataFrame(
    {"Number of Unique Items":unique_items,
     "Average Price":avg_price,
     "Number of Purchases":total_purchases,
     "Total Revenue":total_revenue
    },index=[0]).style.format(
    {"Average Price":"${:.2f}", 
     "Total Revenue":"${:.2f}"})
purchasing_analysis

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [37]:
agg_df = df.groupby("Gender").agg({'SN':['nunique']})
agg_df.columns = ["Total Count"]
agg_df["Percentage of Players"] = (agg_df["Total Count"]) / (agg_df["Total Count"].sum()) * 100
agg_df = agg_df.round(decimals =2)
agg_df["Percentage of Players"] = agg_df["Percentage of Players"].astype(str) + "%"
agg_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [51]:
agg_df2 = df.groupby("Gender").agg({"Item ID":["count"],"Price":["mean", "sum"], "SN":"nunique"})
agg_df2.columns = ["Purchase Count","Average Purchase Price", "Total Purchase Value", "Total Count"]
agg_df2["Avg Total Purchase per Person"] = (agg_df2["Total Purchase Value"]) / (agg_df2["Total Count"])
agg_df2 = agg_df2.round(decimals = 2)
agg_df2.drop(columns=['Total Count']).style.format(
    {"Average Purchase Price":"${:.2f}", 
     "Total Purchase Value":"${:.2f}",
     "Avg Total Purchase per Person":"${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [39]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [47]:
bins = pd.cut(
    x = df["Age"], 
    bins = [0, 10, 15, 20, 25, 30, 35, 40, 50], 
    labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
    right = False
)

df["Age Ranges"] = bins


agedemo_df = df.groupby("Age Ranges").agg({"SN":["nunique"]})
agedemo_df.columns = ["Total Count"]
agedemo_df["% of Players"] = (agedemo_df["Total Count"]) / (agedemo_df["Total Count"].sum()) * 100
agedemo_df = agedemo_df.round(decimals = 2)
agedemo_df["% of Players"] = agedemo_df["% of Players"].astype(str) + "%"
agedemo_df

            Total Count % of Players
Age Ranges
<10                  17        2.95%
10-14                22        3.82%
15-19               107       18.58%
20-24               258       44.79%
25-29                77       13.37%
30-34                52        9.03%
35-39                31        5.38%
40+                  12        2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [52]:
analysis_df = df.groupby("Age Ranges").agg({"Item ID":["count"],"Price":["mean", "sum"], "SN":"nunique"})
analysis_df.columns = ["Purchase Count","Average Purchase Price", "Total Purchase Value", "Total Count"]
analysis_df["Avg Total Purchase per Person"] = (analysis_df["Total Purchase Value"]) / (analysis_df["Total Count"])
analysis_df = analysis_df.round(decimals = 2)
analysis_df.drop(columns=['Total Count']).style.format(
    {"Average Purchase Price":"${:.2f}", 
     "Total Purchase Value":"${:.2f}",
     "Avg Total Purchase per Person":"${:.2f}"})